<div class="sidebar_height">
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

            <div class="sidebar-brand-text mx-3">CMS-DHM COLOR </div>
        </a>
        <hr class="sidebar-divider my-0">

        <li class="nav-item">
            <a class="nav-link" routerLink="bills">
                <i class="fas fa-desktop"></i>
                <span>Quản lý bán hàng</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="add-bill">
                <i class="fas fa-file-invoice-dollar"></i>
                <span>Tạo đơn hàng</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="sidebar-card">
            <img class="sidebar-card-illustration mb-2" src="../../../../assets/dhm_logo.png" alt="">
            <p class="text-center mb-2"><strong>DHM-COLOR</strong> Nếu có bất kỳ thắc mắc nào liên quan đến các dòng sản
                phẩm vui
                lòng liên hệ với bộ phận quản lý của DHM!
            </p>
        </div>

    </ul>
</div>