<h1 class="h3 mb-2 text-gray-800">Sửa tài khoản</h1>

<form action="">
    <div class="row">
        <div class="col-md-12">
            <div class="card" [formGroup]="inputForm">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên tài khoản</label>
                        <input type="text" class="form-control" formControlName="username"
                               [ngClass]="{ 'is-invalid': iF.username.touched && iF.username.errors }" />
                        <div *ngIf="iF.username.touched && iF.username.errors" class="invalid-feedback"
                             style="margin-top: 5px;">
                          <div *ngIf="iF.username.errors.required" class="fa fa-exclamation-triangle"><span
                            class="ml-1">Tài khoản khách hàng không được để trống</span>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Trạng thái</label>
                        <div class="col p-1">
                            <label class="switch">
                                <input type="checkbox" formControlName="status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" formControlName="email"
                               [ngClass]="{ 'is-invalid': iF.email.touched && iF.email.errors }" />
                        <div *ngIf="iF.email.touched && iF.email.errors" class="invalid-feedback"
                             style="margin-top: 5px;">
                          <div *ngIf="iF.email.errors.required" class="fa fa-exclamation-triangle"><span
                            class="ml-1">Email khách hàng không được để trống</span>
                          </div>
                          <div *ngIf="iF.email.errors.pattern" class="fa fa-exclamation-triangle"><span
                            class="ml-1">Email khách hàng không đúng định dạng</span></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Số điện thoại</label>
                        <input type="text" class="form-control" formControlName="phone"
                               [ngClass]="{ 'is-invalid': iF.phone.touched && iF.phone.errors }"/>
                      <div *ngIf="iF.phone.touched && iF.phone.errors" class="invalid-feedback"
                           style="margin-top: 5px;">
                        <div *ngIf="iF.phone.errors.required" class="fa fa-exclamation-triangle"><span
                          class="ml-1">Số điện thoại khách hàng không được để trống</span>
                        </div>
                        <div *ngIf="iF.phone.errors.pattern" class="fa fa-exclamation-triangle"><span
                          class="ml-1">Số điện thoại khách hàng không đúng định dạng</span></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" style="padding-top: 20px;">
        <button type="submit" class="btn btn-primary btn-sm" (click)="update()">Lưu</button>&nbsp;
        <button type="submit" class="btn btn-danger btn-sm" (click)="cancel()">Hủy</button>
    </div>
</form>
