<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>DHM-</span>COLOR</h2>
                        <p>
                            Nếu có bất kỳ thắc mắc nào liên quan đến các dòng sản phẩm vui
                            lòng liên hệ với bộ phận dịch vụ khách hàng của DHM.
                        </p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="../../../../assets/images/home/iframe1.png" alt="" />
                                </div>

                            </a>
                            <p>Louis Vuitton</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="../../../../assets/images/home/iframe2.png" alt="" />
                                </div>

                            </a>
                            <p>Chanel</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="../../../../assets/images/home/iframe3.png" alt="" />
                                </div>

                            </a>
                            <p>Versace</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="video-gallery text-center">
                            <a href="#">
                                <div class="iframe-img">
                                    <img src="../../../../assets/images/home/iframe4.png" alt="" />
                                </div>

                            </a>
                            <p>Dolce & Gabbana</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="address">
                        <img src="../../../../assets/images/home/map.png" alt="" />
                        <p>VIET NAM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Thêm thông tin</h2>
                        <ul class="nav_f nav-pills nav-stacked">
                            <li><a href="#">Làm sao để đặt hàng</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Vị trí </a></li>
                            <li><a href="#">Chuyển hàng</a></li>
                            <li><a href="#">Thành viên</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>DHM Shop</h2>
                        <ul class="nav_f nav-pills nav-stacked">
                            <li><a href="#">T-Shirt</a></li>
                            <li><a href="#">Mens</a></li>
                            <li><a href="#">Womens</a></li>
                            <li><a href="#">Gift Cards</a></li>
                            <li><a href="#">Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Mạng xã hội</h2>
                        <ul class="nav_f nav-pills nav-stacked">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Tiktok</a></li>
                            <li><a href="#">Zalo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Liên hệ</h2>
                        <ul class="nav_f nav-pills nav-stacked">
                            <li>
                                <p>P.Trịnh Văn Bô, Xuân Phương</p>
                            </li>
                            <li>
                                <p>Q.Nam từ Liêm - Hà Nội</p>
                            </li>
                            <li>
                                <p>Số điện thoại: 0295 018 821</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>Mua hàng</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Địa chỉ Email" />
                            <button type="submit" class="btn-search"><i class="fa fa-arrow-circle-o-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row"></div>
        </div>
    </div>
</footer>
<!--/Footer-->