<div class="container pb-5">
    <h2 class="title text-center">Giới thiệu</h2>
    <div class="row">
        <div class="col-md-3 d-none d-sm-block d-sm-none d-md-block">
            <div class="sidebar-page">
                <div class="box_image visible-lg visible-md">
                    <div class="banner">
                        <a href="">
                            <img src="/assets/images/introduce.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="page-wrapper">
                <div class="heading-page">
                    <h1>DHM Color</h1>
                </div>
                <div class="wrapbox-content-page">
                    <div class="content-page">
                        <p>DHM Color một hệ thống cửa hàng kinh doanh về các loại áo từ các thương hiệu
                            thời trang lớn trong nước và ngoài nước. Quý khách có thể tự tin thế hiện màu sắc
                            của các thương hiệu lên mình. Ngoài kinh doanh tại cửa hàng, DHM còn phát triển một website
                            cho quý khách có thể tiện trong việc mua sắm và liên hệ với hệ thống cửa hàng qua đó có thể
                            gửi
                            thông tin sản phẩm, thông tin cá nhân để đặt hàng qua www.dhmcolor.vn hoặc có vấn đề gì khúc
                            mắc
                            có thể liên hệ qua số điện thoại 0295 018 821.</p>

                        <div>
                            <ul>
                                <li><span>Chúng tôi DHM Color cùng hệ thống đội ngũ chất lượng, sẽ mang đến cho khách
                                        hàng những trải nghiệm hài lòng nhất khi mua hàng tại hệ thống của
                                        hàng.</span><br></li>
                                <li><span>Slogans: Khoác lên mình màu sắc thương hiệu, thỏa thích tự tin thể hiện màu
                                        sắc.</span><br></li>
                                <li><span>Địa chỉ: P. Trịnh Văn Bô, Nam Từ Liêm, Hà Nội, Việt Nam.</span><br></li>
                                <li><span>Thông tin liên hệ: Liên kết đến các trang mạng xã hội.</span><br></li>
                                <li>
                                    <ul class="icon-intro">
                                        <li><a href=" #"><img src="/assets/images/facebook.svg" alt=""></a>
                                        </li>
                                        <li><a href=" #"><img src="/assets/images/twitter.svg" alt=""></a>
                                        </li>
                                        <li><a href=" #"><img src="/assets/images/instagram.svg" alt=""></a>
                                        </li>
                                        <li><a href=" #"><img src="/assets/images/dribbble.svg" alt=""></a>
                                        </li>
                                        <li><a href=" #"><img src="/assets/images/google-plus.svg" alt=""></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>